body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -155px;
  padding: 0;
}

.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 155px;
}

#navBar {
  width: 100%;
  height: 70px;
  background-color: #4CBAC5;
}

#navBarLeft {
  width: 50%;
  float: left;
}

#navBarLeft ul {
  margin-top: 15px;
}

#navBarLeft li{
  display: inline;
  font-size: 27px;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

#navBarRight {
  width: 50%;
  float: right;
}

#navBarRight ul{
  list-style-type: none;
  color: white;
  text-align: center;
  margin-top: 25px;
}

#navBarRight li{
  display: inline;
  font-size: 19px;
  font-family: 'Trebuchet MS', sans-serif;
  padding-right: 20px;
}

#navBarRight a {
  text-decoration: none;
  color: inherit;
}

#navBarRight a:hover {
  color: #DCE7F4;
}

.dropdown-toggle {
  font-size: 19px;
  font-family: 'Trebuchet MS', sans-serif;
}

.dropdown-menu a {
  display: inline-block;
  color: #009dad !important;
}

.active {
  color: #DCE7F4 !important;
}

section {
  margin-top: 70px;
  background-color: white;
}

.bitOfPadding {
  padding: 10px;
}

#homeContent h2, h4 {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

.bitOfPaddingAbout {
  padding: 20px;
}

#aboutUs p {
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.lookWider a {
  max-width: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

.lookWider h1 {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 50px;
}

.lookWider h3 {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 20px;
}

.lookWider p {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#lookWiderCreativity h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 50px;
}

#lookWiderCreativity p {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

#lookWiderCreativity {
  font-family: 'Trebuchet MS', sans-serif;
  padding-left: 35%;
  padding-right: 35%;
}

footer {
  padding-top: 20px;
  background-color: white;
}

footer p {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #009dad !important;
  margin: 0;
}
